/* ---------------------------- */
/* .global {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: black;
} */
* {
  margin: 0px;
  padding: 0px;
}
.margin {
  margin-left: 10%;
  margin-right: 10%;
}
.boutonpriv {
  margin-bottom: 2%;
}

.boutonpriv button {
  border-radius: 10px;
}
.grid {
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px);
}

html {
  background-color: black;
  margin: 0px;
  padding: 0px;
  display: flex;
  width: 100%;
}
body {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  font-family: "Numans", sans-serif;
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexgobal {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}
.row {
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.username a {
  width: 100%;
  display: flex;
  font-size: 18px;
  word-wrap: none;
  align-content: center;
  align-items: center;
  justify-content: center;
}

/*  flex-wrap: wrap; */

.date {
  display: flex;
  color: #3476e0;
  flex-direction: row-reverse;
}
.white {
  color: white;
}

.black {
  color: black;
}
.flexpostpriv {
  display: grid;
  grid-column: 1/2;
  flex-direction: row;
  border: 5px solid black;
}
.alignementposts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  color: black;
}
.loginContainer input {
  margin-bottom: 2%;
  margin-top: 2%;
}
.flexifra {
  background-color: black;
  display: flex;
  size-adjust: 100%;
}
.background {
  background-color: black;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 100%;
  /*   background-size: cover; */
}
.mdp {
  background-color: #3476e0;
  border-radius: 20px;
  width: 50%;
}
.supprimer {
  background-color: tomato;
  border-radius: 20px;
  width: 50%;
}
a:link {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  text-decoration: none;
}
.basicinfo3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-bottom: 2%;

  /*   background-size: cover;
  background: no-repeat, url(./logos/orig.gif); */
}

.basicinfo3 button {
  border-radius: 10px;
}

.basicinfo4 {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  gap: 3%;
  /*   background-size: cover;
  background: no-repeat, url(./logos/orig.gif); */
}
.pseudo {
  color: #d1515a;
  /* box-shadow: rgba(5, 25, 52, 2) 0px 2px 8px 0px; */
  padding-left: 15px;
  padding-right: 15px;
}
.boutonmodif {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  border-radius: 20px;
}

.modif {
  display: flex;
  align-content: center;
  align-items: center;
}

.accountprof {
  display: flex;
  color: #d1515a;

  align-items: center;
}
/* .speudo span,
:hover {
  color: #7c0f16;
  box-shadow: rgba(5, 25, 52, 2) 0px 2px 8px 0px;
} */

.formcommentaire {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: red;
  white-space: normal;
}

.formcommentaire textarea {
  border-radius: 15px;
}

.boutoncommentaire {
  height: 50%;
  width: 70%;
  margin: 0px;
  padding: 0px;
}

.space {
  padding: 2%;
  white-space: pre-line;
}
.cofee {
  color: #d1515a;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.labelcof {
  color: white;
}

.profil2 img {
  display: flex;
  width: 100%;
  border-radius: 100px;
  border: #d1515a solid 3px;
  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
}
.profil {
  display: flex;
  align-content: center;
  justify-content: center;

  /* align-items: center; */
}

.profil img {
  display: flex;
  width: 100%;
  border-radius: 100px;
  border: #d1515a solid 3px;
  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  height: 400px;
  margin-bottom: 4%;
  margin-left: 35%;
  margin-right: 35%;

  /* align-items: center; */
}

.bio {
  background-color: aliceblue;
  color: black;
  border-radius: 50px;
  margin: 60px;
  padding: 5px;
  border: 20px solid white;
}

.containerglobal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-auto-rows: minmax(100px, auto);
  background-color: black;
  background-size: cover;
  /*  background-image: url(./logos/ville.jpg); */
  background-repeat: repeat;
  display: flex;
}
.principal {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 0px;
  padding: 0px;
}
.principal a {
  display: flex;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: 0px;
  padding: 0px;
}
.primary {
  display: flex;
  font-size: 25px;
  padding-left: -5%;
  padding-right: -5%;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.not {
  color: white;
  font-size: 35px;
}
.deco {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-right: 2%;
}
.deco button {
  width: 100%;
  border-radius: 10px;
}
.logo {
  height: 10%;
  width: 100%;
  margin-top: 100%;
}

.lien {
  display: flex;
  color: #122441;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  text-align: justify;
  white-space: normal;
  padding: 1%;
  background-size: cover;
  background-size: 100%;
}
.lien a {
  width: 100%;
  flex-direction: column;
  display: flex;
  color: black;
  margin: 2%;
  align-items: center;
  font-size: 20px;
  text-align: justify;
  white-space: normal;
  overflow: hidden;
}
/* Défilement de droite à gauche */
.marquee-rtl {
  overflow: hidden; /* important */
  width: 50%;
  max-width: 30em; /* A ADAPTER */
  font-size: 25px;
  display: flex;
}
.marquee-rtl > div {
  display: inline-block; /* important */
  white-space: nowrap; /* important */
  animation: defilement-rtl 35s infinite linear; /* défilement */
  cursor: pointer;
  padding: 10px 2em 10px 100%;
  display: flex;
}
.marquee-rtl:hover > div {
  animation-play-state: paused; /* met en pause le défilement */
}
.marquee-rtl > div:first-letter {
  font-weight: 700;
  color: #122441;
  font-size: 35px;
}

.form-control-file {
  color: red;
  background-color: white;
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(100%);
    transform: translate(-100%);
  }
}

.flex {
  display: flex;
  width: 100%;
  align-content: center;

  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.flex2 {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  /*  background-image: url(./logos/orig.gif); */
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
}

.flex3 {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  margin: 0px;
  padding: 0px;
}

.flex3 a {
  display: flex;
  text-decoration: none;
  width: 100%;
  align-content: center;
  align-items: center;
  color: white;
}

.flex3 button {
  display: flex;

  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.usernameaccueil {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  margin-right: 7%;
  margin-left: 2%;
}

.coenr {
  font-size: 30px;
  margin-right: 2%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.coenr2 {
  width: 100%;
  font-size: 30px;
  margin-right: 16%;
  display: flex;
  align-items: center;
}

.alignmenuprinc {
  display: flex;
  align-content: center;
  justify-content: center;
}
.fond {
  margin-top: 0px;
  margin-bottom: 10px;
  width: 30%;
  height: 50%;
  border-radius: 50px;
}

.background {
  background-size: cover;
  background-image: url(./logos/nuit.jpg);
  background-position: center bottom, left top;
  background-repeat: no-repeat;
}

.boutlog {
  margin-top: 10%;
  margin-bottom: 30%;
}
.App {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  margin-left: 20%;
}

.App2 {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-size: 100%;
  background-size: cover;
  /*   background-size: cover; */
  background: no-repeat, url(./logos/lune.gif);
}

.app3 {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;
  gap: 150px;
  background-repeat: repeat;
  background-size: cover;
  /* background-color: black; */
}

.App4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App5 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexglobal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  background-color: black;
}
.color {
  color: aliceblue;
}
.containerpost {
  display: flex;
  flex-direction: column-reverse;
  /*  background-size: cover; */
  /*   background-image: url(./logos/formes.gif); */
  background-image: url(./logos/formes.gif);
  background-position: center bottom, left top;
  background-repeat: repeat;
  width: 100%;
  align-items: center;
}
.containerpost2 {
  display: flex;
  flex-direction: column-reverse;
  /*  background-size: cover; */
  /*   background-image: url(./logos/formes.gif); */
  background-image: url(./logos/formes.gif);
  background-position: center bottom, left top;
  background-repeat: repeat;
  width: 100%;
  align-items: center;
}
.containerpostflex {
  display: flex;
  flex-direction: column-reverse;
}
.post {
  display: flex;
  width: 60%;
  height: 100%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1%;
  color: black;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
  /* background-image: url(./logos/icon.svg); */
}
.post2 {
  display: flex;
  width: 60%;
  height: 100%;

  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1%;
  color: black;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
  /* background-image: url(./logos/icon.svg); */
}

.post2:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post2 .title {
  background-color: #122441;
  display: flex;
  place-content: center;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 2%;
  box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
}

.post2 .body {
  display: flex;
  flex-direction: column;
  text-align: justify;

  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  font-weight: 500;
  background-color: #f7fdfd;
  color: black;
  white-space: pre-line;
}

.post2 .footer {
  /* border-top: 1px solid #d1515a; */

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1%;
  align-items: center;
  padding-left: 15px;
  background-color: #122441;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.post3 {
  display: flex;

  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 1%;
  color: black;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
  /* background-image: url(./logos/icon.svg); */
}

.post3:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post3 .title {
  background-color: #122441;
  display: flex;
  place-content: center;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 2%;
  box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
}

.post3 .body {
  display: flex;
  flex-direction: column;
  text-align: justify;

  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  font-weight: 500;
  background-color: #f7fdfd;
  color: black;
  white-space: pre-line;
}

.post3 .footer {
  /* border-top: 1px solid #d1515a; */

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1%;
  align-items: center;
  padding-left: 15px;
  background-color: #122441;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.postpriv {
  display: flex;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  /*   margin-left: 15%;
  margin-right: 15%; */
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  border: 1px solid #d1515a;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
  border-radius: 15px;
  background-color: white;
  /* background-image: url(./logos/icon.svg); */
}

.postpriv:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.postpriv .title {
  background-color: #122441;
  display: flex;
  place-content: center;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 2%;
  box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
}

.postpriv .body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  white-space: normal;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  font-weight: 500;
  background-color: #f7fdfd;
  color: black;
  white-space: pre-line;
}

.postpriv .footer {
  /* border-top: 1px solid #d1515a; */

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1%;
  align-items: center;
  padding-left: 15px;
  background-color: #122441;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.post:hover {
  box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  background-color: #122441;
  display: flex;
  place-content: center;
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  padding: 2%;
  box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
  font-size: 20px;
}

.post .body {
  display: flex;
  flex-direction: column;
  text-align: justify;

  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
  font-weight: 500;
  background-color: #f7fdfd;
  color: black;
  white-space: pre-line;
}

.post .footer {
  /* border-top: 1px solid #d1515a; */

  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 1%;
  align-items: center;
  padding-left: 15px;
  background-color: #122441;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.footer .username {
  display: flex;
  width: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(99, 96, 96, 0.8);
  border-color: #d1515a;
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}
.listOfPost {
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.listOfPost2 {
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
  background-color: #0a0a0a;
}

.listOfPost3 {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: brown;
  width: 100%;
}
/* création de post css */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: repeat, url(./logos/orig.gif);

  /*      url("https://64.media.tumblr.com/504b77b22396ca06b425e6834a2ad702/81904407f068f9c7-19/s1920x1080/0c0b12cdeb348d6c161b44d93f7d44a921b28b11.gif");  */
}

.spanform {
  font-size: 18px;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 50%;
  border: 5px solid #d1515a;
  border-radius: 25px;
  background-color: rgb(248, 246, 242);
  font-size: 20px;
  margin-top: 50px;
}
.formContainerregistrationglobal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.formContainerregistration {
  display: grid;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  align-content: center;
  width: 600px;
  height: 500px;

  border: 5px solid #d1515a;
  border-radius: 25px;
  background-color: rgb(248, 246, 242);
  font-size: 35px;
  margin-top: 50px;
}

.formContainerregistration input {
  height: 40px;
  font-size: 30px;
}

.formContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 60%;
  height: 60%;
  padding: 20px;
  border: 5px solid #d1515a;
  border-radius: 25px;
  background-color: rgb(248, 246, 242);
  font-size: 35px;
  margin-top: -170px;
  background-size: cover;
  background: no-repeat, url(./logos/icon.svg);
}
.formContainer2 button {
  margin-top: 2%;
  height: 15%;
  width: 100%;
  border-color: #d1515a solid 2px;
  background-color: #2069dd;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  justify-content: center;
  margin-top: 5%;
}

.formContainer2 button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}
.formContainer #inputCreatePost {
  height: 100%;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  font-size: 35px;
}

.formContainer button {
  margin-top: 2%;
  height: 40%;
  width: 100%;
  border-color: #d1515a solid 2px;
  background-color: #122441;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  justify-content: center;
  margin-top: 25px;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}

/* NAVBAR */

.navbar {
  font-size: 25px;

  height: 70px;

  display: flex;

  align-items: left;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  /* background: no-repeat, url(./logos/orig.gif); */
  background-color: rgb(181, 151, 209);
  color: black;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.flexi {
  display: flex;
  flex-direction: row;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 20px;
  /* white-space: nowrap; */
  /*  word-break: none; */
  width: 100%;
}
.menu {
  font-size: 25px;
  display: flex;

  flex-direction: row;
  justify-content: center;
  /*  white-space: nowrap; */

  word-wrap: normal;
  align-content: center;
  align-items: center;
}
.navbar .loggedInContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}
.basicinfo {
  display: flex;
  flex-direction: row;
}

.basicinfo2 {
  display: flex;
  flex-direction: row;

  width: 100%;
}

.basicinfo2 {
  color: white;
}

.navbar .loggedInContainer2 {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}

.navbar button {
  width: 40%;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}
h1 {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 3px #d1515a, 0 0 7px black;
  margin-bottom: 5%;
  font-size: 30px;
}
h3 {
  color: rgb(245, 238, 238);
}
.navbar h1 {
  text-align: right;

  color: rgb(245, 238, 238);
  font-weight: lighter;

  /*  background-color: rgb(80, 4, 221); */
}

/*POST INDIVIDUEL  */
.postPage {
  display: flex;
  width: 80%;

  flex-direction: row;
}

.indivi {
  display: flex;
  flex-direction: column;
  place-items: center;
  /* background-size: cover; */
  width: 95%;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 50%;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
  width: 100%;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  /*   background-image: url(./logos/icon.svg); */
}

.listOfComments .comment {
  width: 100%;
  height: 100%;
  padding: 30px;
  white-space: pre-line;
  border: 1px solid #d1515a;
  border-radius: 5px;
  margin-top: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  gap: 15px;
  background-image: url(./logos/formes.gif);
  background-position: center bottom, left top;
  background-repeat: repeat;
  color: white;
}

#individual {
  display: flex;
  height: 100%;
  width: 100%;
}

#individual .title,
#individual .footer {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

#individual .body {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
}

/* LOGIN */

.loginContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  height: 30%;

  margin-top: 2%;
  border-radius: 80px;
  margin-top: 2%;
  margin-bottom: 20%;
  background-size: 100%;
  background-size: cover;
  background: no-repeat, url(./logos/lune.gif);
  /*  background: no-repeat, url(./logos/orig.gif); */
  box-shadow: 1px 1px silver, -0.5em 0 0.4em black;
  color: white;
  font-size: 150%;
}

.loginContainer2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 40%;

  border-radius: 80px;
  margin-top: 2%;
  background-size: cover;
  background: no-repeat, url(./logos/favicon.jpg);
  box-shadow: 1px 1px silver, -0.5em 0 0.4em black;
}

.loginContainer input,
button {
  width: 80%;
  height: 50px;
  border-radius: 8px;
  border: none;

  font-size: 25px;
}

.loginContainer2 input,
button {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: #d1515a;
  background-color: #3476e0;
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 3%;
}

.loginContainer2 input,
button:hover {
  background-color: rgb(89, 169, 248);
}
.loginContainer button {
  background-color: dodgerblue;
  color: white;
  width: 80%;
}

.loginContainer button:hover {
  background-color: rgb(89, 169, 248);
  color: white;
  width: 80%;

  font-weight: 600;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

@media only screen and (min-device-width: 950px) and (max-device-width: 1100px) {
  .flex3 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0px;
    padding: 0px;
  }

  .flex3 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    align-content: center;
    align-items: center;
    color: white;
  }

  .flex3 button {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .principal {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 0px;
    padding: 0px;
  }
  .principal a {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 0px;
    padding: 0px;
  }

  .loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 30%;

    margin-top: 2%;
    border-radius: 80px;
    margin-top: 2%;
    margin-bottom: 20%;
    background-size: 100%;
    background-size: cover;
    background: no-repeat, url(./logos/lune.gif);
    /*  background: no-repeat, url(./logos/orig.gif); */
    box-shadow: 1px 1px silver, -0.5em 0 0.4em black;
    color: white;
    font-size: 150%;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 945px) {
  .flex3 {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0px;
    padding: 0px;
  }

  .flex3 a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 100%;
    align-content: center;
    align-items: center;
    color: white;
  }

  .flex3 button {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .principal {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 0px;
    padding: 0px;
  }
  .principal a {
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-left: 0px;
    padding: 0px;
  }

  .loginContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 30%;

    margin-top: 2%;
    border-radius: 80px;
    margin-top: 2%;
    margin-bottom: 20%;
    background-size: 100%;
    background-size: cover;
    background: no-repeat, url(./logos/lune.gif);
    /*  background: no-repeat, url(./logos/orig.gif); */
    box-shadow: 1px 1px silver, -0.5em 0 0.4em black;
    color: white;
    font-size: 150%;
  }
  .margin {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }

  .post {
    display: flex;
    width: 60%;
    height: 100%;

    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 3%;
    color: black;
    border: 1px solid #d1515a;
    font-family: Arial, Helvetica, sans-serif;

    box-shadow: rgba(15, 15, 12, 2) 0px 2px 8px 0px;
    border-radius: 15px;
    background-color: white;
    /* background-image: url(./logos/icon.svg); */
  }

  .post:hover {
    box-shadow: rgba(248, 248, 250, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }
  .post .title {
    background-color: #122441;
    display: flex;
    place-content: center;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding: 2%;
    box-shadow: rgba(13, 13, 14, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
  }

  .post .body {
    display: flex;
    flex-direction: column;
    text-align: justify;

    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2%;
    font-weight: 500;
    background-color: #f7fdfd;
    color: black;
    white-space: pre-line;
  }

  .post .footer {
    /* border-top: 1px solid #d1515a; */

    display: flex;
    flex-direction: column;
    width: 100%;

    padding: 1%;
    align-items: center;
    padding-left: 15px;
    background-color: #122441;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .containerpost2 {
    display: flex;
    flex-direction: column-reverse;
    /*  background-size: cover; */
    /*   background-image: url(./logos/formes.gif); */
    background-image: url(./logos/formes.gif);
    background-position: center bottom, left top;
    background-repeat: repeat;
    width: 100%;

    align-items: center;
  }
}

@media only screen and (min-device-width: 0px) and (max-device-width: 700px) {
  .lien {
    display: flex;
    color: #122441;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 0%;
    width: 100%;
    height: 200px;
    text-align: justify;
    white-space: normal;
    padding: 1%;
    background-size: cover;
    background-size: 100%;
  }
  .lien a {
    width: 100%;
    height: 100px;
    flex-direction: column;
    display: flex;
    color: black;
    margin: 0px;
    align-items: center;
    font-size: 20px;

    white-space: normal;
    overflow: hidden;
  }
}
